/* public sans font */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
}

:root {
  --radius: 0.65rem;
  --background: #ffffff;
  --foreground: #0f172b;
  --card: oklch(1 0 0);
  --card-foreground: #0f172b;
  --popover: oklch(1 0 0);
  --popover-foreground: #0f172b;
  --primary: #10b981;
  --primary-foreground: oklch(0.986 0.031 120.757);
  --secondary: ##f8fafc;
  --secondary-foreground: #45556c;
  --muted: ##f8fafc;
  --muted-foreground: #90a1b9;
  --accent: ##f8fafc;
  --accent-foreground: #45556c;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #10b981;
  --chart-1: oklch(0.871 0.15 154.449);
  --chart-2: oklch(0.723 0.219 149.579);
  --chart-3: oklch(0.627 0.194 149.214);
  --chart-4: oklch(0.527 0.154 150.069);
  --chart-5: oklch(0.448 0.119 151.328);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #0f172b;
  --sidebar-primary: #10b981;
  --sidebar-primary-foreground: oklch(0.986 0.031 120.757);
  --sidebar-accent: ##f8fafc;
  --sidebar-accent-foreground: #45556c;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #10b981;
}

.dark {
  --background: #0f172b;
  --foreground: oklch(0.985 0 0);
  --card: #45556c;
  --card-foreground: oklch(0.985 0 0);
  --popover: #45556c;
  --popover-foreground: oklch(0.985 0 0);
  --primary: #10b981;
  --primary-foreground: oklch(0.986 0.031 120.757);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.405 0.101 131.063);
  --chart-1: oklch(0.871 0.15 154.449);
  --chart-2: oklch(0.723 0.219 149.579);
  --chart-3: oklch(0.627 0.194 149.214);
  --chart-4: oklch(0.527 0.154 150.069);
  --chart-5: oklch(0.448 0.119 151.328);
  --sidebar: #45556c;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.768 0.233 130.85);
  --sidebar-primary-foreground: oklch(0.986 0.031 120.757);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.405 0.101 131.063);
}

@layer base {
  * {
    font-family: 'Public Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.logo {
  border-radius: 16px;
  background: var(--Primary-color, #10b981);
  box-shadow: 0 10px 15px -3px rgba(43, 127, 255, 0.25),
    0 4px 6px -4px rgba(43, 127, 255, 0.25);
}
.auth-bg {
  background-image: url('../../../public/img/auth/auth-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.gradient-btn {
  border-radius: 14px;
  background: var(
    --linear-primary,
    linear-gradient(180deg, #00bc7d 0%, #009689 100%)
  );
}
